<!--
==================================================
                    Header
==================================================
-->

<header class="navbar navbar-light navbar-transparent" role="banner">
    <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
        ☰
        </button>
        <a class="navbar-brand hidden-sm-up" href="/">
            Hi
        </a>
    </div>
    <div class="container">
        <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
            <nav class="nav navbar-nav">
                <a class="nav-item nav-link" href="javascript:void(0)">Hi</a>
                <a class="nav-item nav-link active" href="javascript:void(0)">文档</a>
                <a class="nav-item nav-link " href="javascript:void(0)">例子</a>
                <a class="nav-item nav-link" href="javascript:void(0)">主题</a>
                <a class="nav-item nav-link" href="javascript:void(0)">博客</a>
            </nav>
        </div>
    </div>
</header>

<div class="section-header">
    <div class="container">
        <h1>Hi UI</h1>
        <p class="lead">简洁、直观、强悍、轻量的前端框架，让web开发更迅速.</p>
    </div>
</div>