<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="Hi - 简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。" name="description"/>
        <meta content="HTML, CSS, JS, JavaScript, framework, hi, front-end, frontend, web development" name="keywords"/>
        <meta content="Mark Otto, Jacob Thornton, and Bootstrap contributors" name="author"/>
        <title> Hi UI Framework 中文文档</title>
        <!-- Hi core CSS -->
        <link href="./css/hi.css" rel="stylesheet"/>
        <link href="./css/docs.hi.css" rel="stylesheet"/>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
		  	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
        <!-- Favicons -->
        <!-- <link href="/apple-touch-icon.png" rel="apple-touch-icon"/> -->
        <!-- <link href="/favicon.ico" rel="icon"/> -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="./js/hi.js"></script>
    </head>
    <body>
