<%include ./_parts/head%>
<%include ./_parts/header%>

<!--
==================================================
		            Content
==================================================
-->

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1 class="page-head">五、按钮</h1>
			<h2>1. 可作为按钮使用的标签或元素</h2>
			<p class="lead">
				为 <code>&lt;a&gt;</code>、<code>&lt;button&gt;</code> 或 <code>&lt;input&gt;</code> 元素添加按钮类（button class）即可使用 Hi 提供的样式。
			</p>
			<div class="docs-example">
				<a class="btn btn-primary" href="javascript:void(0)" role="button">Link</a>
				<button class="btn btn-primary" type="submit">Button</button>
				<input class="btn btn-primary" type="button" value="Input">
				<input class="btn btn-primary" type="submit" value="Submit">
			</div>
			<blockquote class="docs-blockquote">
				<h4>针对组件的注意事项</h4>
				<p>
					虽然按钮类可以应用到 <code>&lt;a&gt;</code> 和 <code>&lt;button&gt;</code> 元素上，但是，导航和导航条组件只支持 <code>&lt;button&gt;</code> 元素。
				</p>
			</blockquote>
			<blockquote class="docs-blockquote">
				<h4>链接被作为按钮使用时的注意事项</h4>
				<p>
					如果 <code>&lt;a&gt;</code> 元素被作为按钮使用 -- 并用于在当前页面触发某些功能 -- 而不是用于链接其他页面或链接当前页面中的其他部分，那么，务必为其设置 <code>role="button"</code> 属性。
				</p>
			</blockquote>
			<blockquote class="docs-blockquote">
				<h4>跨浏览器展现</h4>
				<p>
					我们总结的最佳实践是：<strong>强烈建议尽可能使用 <code>&lt;button&gt;</code> 元素</strong>来获得在各个浏览器上获得相匹配的绘制效果。
				</p>
				<p>
					另外，我们还发现了 <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=697451">Firefox &lt;30 版本的浏览器上出现的一个 bug</a>，其表现是：阻止我们为基于 <code>&lt;input&gt;</code> 元素所创建的按钮设置 <code>line-height</code> 属性，这就导致在 Firefox 浏览器上不能完全和其他按钮保持一致的高度。
				</p>
			</blockquote>
			<h2>2. 可作为按钮使用的标签或元素</h2>
			<p class="lead">
				使用下面列出的类可以快速创建一个带有预定义样式的按钮。
			</p>
			<div class="docs-example">
				<button type="button" class="btn btn-default">（默认样式）Default</button>
				<button type="button" class="btn btn-primary">（首选项）Primary</button>
				<button type="button" class="btn btn-secondary">（首选项）Primary</button>
				<button type="button" class="btn btn-success">（成功）Success</button>
				<button type="button" class="btn btn-info">（一般信息）Info</button>
				<button type="button" class="btn btn-warning">（警告）Warning</button>
				<button type="button" class="btn btn-danger">（危险）Danger</button>
				<button type="button" class="btn btn-link">（链接）Link</button>
				<br>
				<button type="button" class="btn btn-default-outline">（默认样式）Default</button>
				<button type="button" class="btn btn-primary-outline">（首选项）Primary</button>
				<button type="button" class="btn btn-success-outline">（成功）Success</button>
				<button type="button" class="btn btn-info-outline">（一般信息）Info</button>
				<button type="button" class="btn btn-warning-outline">（警告）Warning</button>
				<button type="button" class="btn btn-danger-outline">（危险）Danger</button>
			</div>
			<h2>3. 尺寸</h2>
			<p class="lead">
				需要让按钮具有不同尺寸吗？使用 <code>.btn-lg</code>、<code>.btn-sm</code> 或 <code>.btn-xs</code> 就可以获得不同尺寸的按钮。
			</p>
			<div class="docs-example">
				<button type="button" class="btn btn-default btn-lg">大按钮</button>
				<button type="button" class="btn btn-default">默认按钮</button>
				<button type="button" class="btn btn-default btn-sm">小按钮</button>
			</div>
			<p class="lead">
				通过给按钮添加 <code>.btn-block</code> 类可以将其拉伸至父元素100%的宽度，而且按钮也变为了块级（block）元素。
			</p>
			<div class="docs-example">
				<button type="button" class="btn btn-default-outline btn-block active">（默认样式）Default</button>
				<button type="button" class="btn btn-primary-outline btn-block active">（首选项）Primary</button>
				<button type="button" class="btn btn-success-outline btn-block">（成功）Success</button>
				<button type="button" class="btn btn-info-outline btn-block">（一般信息）Info</button>
				<button type="button" class="btn btn-warning-outline btn-block">（警告）Warning</button>
				<button type="button" class="btn btn-danger-outline btn-block">（危险）Danger</button>
			</div>
			<h2>4. 禁用状态</h2>
			<p class="lead">
				通过为按钮的背景设置 <code>opacity</code> 属性就可以呈现出无法点击的效果。
			</p>
			<div class="docs-example">
				<button type="button" class="btn btn-default" disabled="disabled">（默认样式）Default</button>
				<button type="button" class="btn btn-primary" disabled="disabled">（首选项）Primary</button>
				<button type="button" class="btn btn-secondary" disabled="disabled">（首选项）Primary</button>
				<button type="button" class="btn btn-success" disabled="disabled">（成功）Success</button>
				<button type="button" class="btn btn-info" disabled="disabled">（一般信息）Info</button>
				<button type="button" class="btn btn-warning" disabled="disabled">（警告）Warning</button>
				<button type="button" class="btn btn-danger" disabled="disabled">（危险）Danger</button>
				<button type="button" class="btn btn-link" disabled="disabled">（链接）Link</button>
				<br>
				<button type="button" class="btn btn-default-outline" disabled="disabled">（默认样式）Default</button>
				<button type="button" class="btn btn-primary-outline" disabled="disabled">（首选项）Primary</button>
				<button type="button" class="btn btn-success-outline" disabled="disabled">（成功）Success</button>
				<button type="button" class="btn btn-info-outline" disabled="disabled">（一般信息）Info</button>
				<button type="button" class="btn btn-warning-outline" disabled="disabled">（警告）Warning</button>
				<button type="button" class="btn btn-danger-outline" disabled="disabled">（危险）Danger</button>
			</div>
			<h2>5. 按钮组</h2>
			<p class="lead">
				通过按钮组容器把一组按钮放在同一行里。通过与按钮插件联合使用，可以设置为单选框或多选框的样式和行为。
			</p>
			<div class="docs-example">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">左边</button>
					<button type="button" class="btn btn-default">中间</button>
					<button type="button" class="btn btn-default">右边</button>
				</div>
				<br>
				<div class="btn-group-vertical" role="group" aria-label="...">
					<button type="button" class="btn btn-default">左边</button>
					<button type="button" class="btn btn-default">中间</button>
					<button type="button" class="btn btn-default">右边</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<%include _parts/nav%>
		</div>
	</div>
</div>

<%include _parts/foot%>