<%include _parts/head%>
<%include _parts/header%>
<!--
==================================================
		            Content
==================================================
-->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <%include _parts/nav%>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <h1 class="page-head">
                八、卡片
            </h1>
            <h2>
                1. 基本实例
            </h2>
            <p class="lead">
                Cards require a small amount of markup and classes to provide you with as much control as possible. These classes and markup are flexible though and can typically be remixed and extended with ease. For example, if your card has no flush content like images, feel free to put the
                <code>
                    .card-block
                </code>
                class on the
                <code>
                    .card
                </code>
                element to consolidate your markup.
            </p>
            <div class="docs-example">
                <div class="card">
                    <img alt="100%x180" class="card-img-top" data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE4IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDMxOCAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ3ZGQ1NzUgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTZwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ3ZGQ1NzUiPjxyZWN0IHdpZHRoPSIzMTgiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMTE4LjA4NTkzNzUiIHk9Ijk3LjIiPjMxOHgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                    <div class="card-block">
                        <h4 class="card-title">
                            标题
                        </h4>
                        <p class="card-text">
                            内容
                        </p>
                        <a class="btn btn-primary" href="#">
                            按钮
                        </a>
                    </div>
                </div>
            </div>
            <h2>
                2. 内容类型
            </h2>
            <p class="lead">
                Cards support a wide variety of content, including images, text, list groups, links, and more. Mix and match multiple content types to create the card you need.
            </p>
            <div class="docs-example">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">
                            卡片标题
                        </h4>
                        <h6 class="card-subtitle text-muted">
                            副标题
                        </h6>
                    </div>
                    <img alt="100%x180" class="card-img-top" data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE4IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDMxOCAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjU2MmIgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTZwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjU2MmIiPjxyZWN0IHdpZHRoPSIzMTgiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMTE4LjA4NTkzNzUiIHk9Ijk3LjIiPjMxOHgxODA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                    <div class="card-block">
                        <h4 class="card-title">
                            标题
                        </h4>
                        <p class="card-text">
                            内容
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Last updated 3 mins ago
                            </small>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            列表一
                        </li>
                        <li class="list-group-item">
                            列表二
                        </li>
                        <li class="list-group-item">
                            列表三
                        </li>
                    </ul>
                    <div class="card-block">
                        <a class="card-link" href="#">
                            链接一
                        </a>
                        <a class="card-link" href="#">
                            链接二
                        </a>
                    </div>
                </div>
            </div>
            <h2>
                3. 头部和尾部
            </h2>
            <p class="lead">
                Add an optional header and/or footer within a card.
            </p>
            <div class="docs-example">
                <div class="card text-center">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            Special title treatment
                        </h4>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a class="btn btn-primary" href="#">
                            Go somewhere
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <h2>
                4. 图像叠加
            </h2>
            <p class="lead">
                Turn an image into a card background and overlay your card’s text. Depending on the image, you may or may not need
                <code>
                    .card-inverse
                </code>
                (see below).
            </p>
            <div class="docs-example">
                <div class="card card-inverse">
                    <img alt="Card image [100%x270]" class="card-img" data-src="holder.js/100%x270/#55595c:#373a3c/text:Card image" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzE4IiBoZWlnaHQ9IjI3MCIgdmlld0JveD0iMCAwIDMxOCAyNzAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjcwLyM1NTU5NWM6IzM3M2EzYy90ZXh0OkNhcmQgaW1hZ2UKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY4ZDgyNjJjOSB0ZXh0IHsgZmlsbDojMzczYTNjO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTZwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjYyYzkiPjxyZWN0IHdpZHRoPSIzMTgiIGhlaWdodD0iMjcwIiBmaWxsPSIjNTU1OTVjIi8+PGc+PHRleHQgeD0iMTAzLjg3NSIgeT0iMTQyLjIiPkNhcmQgaW1hZ2U8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                    <div class="card-img-overlay">
                        <h4 class="card-title">
                            Card title
                        </h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Last updated 3 mins ago
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <h2>
                5. 背景变量
            </h2>
            <p class="lead">
                Cards include their own variant classes for quickly changing the
                <code>
                    background-color
                </code>
                and
                <code>
                    border-color
                </code>
                of a card.
                <strong>
                    Darker colors require the use of
                    <code>
                        .card-inverse
                    </code>
                    .
                </strong>
            </p>
            <div class="docs-example">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card card-inverse card-primary text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer>
                                        Someone famous in
                                        <cite title="Source Title">
                                            Source Title
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-inverse card-success text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer>
                                        Someone famous in
                                        <cite title="Source Title">
                                            Source Title
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-inverse card-info text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer>
                                        Someone famous in
                                        <cite title="Source Title">
                                            Source Title
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-inverse card-warning text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer>
                                        Someone famous in
                                        <cite title="Source Title">
                                            Source Title
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-inverse card-danger text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer>
                                        Someone famous in
                                        <cite title="Source Title">
                                            Source Title
                                        </cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
            <h2>
                6. 卡片组
            </h2>
            <p class="lead">
                Use card groups to render cards as a single, attached element with equal width and height columns. By default, card groups use
                <code>
                    display: table;
                </code>
                and
                <code>
                    table-layout: fixed;
                </code>
                to achieve their uniform sizing. However, enabling
                <a href="/getting-started/flexbox">
                    flexbox mode
                </a>
                can switch that to use
                <code>
                    display: flex;
                </code>
                and provide the same effect.
            </p>
            <div class="docs-example">
                <div class="card-group">
                    <div class="card">
                        <img alt="100%x180" class="card-img-top" data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjEwIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDIxMCAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjJkMDggdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjJkMDgiPjxyZWN0IHdpZHRoPSIyMTAiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzYuODgyODEyNSIgeT0iOTQuOCI+MjEweDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="/>
                        <div class="card-block">
                            <h4 class="card-title">
                                Card title
                            </h4>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated 3 mins ago
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img alt="100%x180" class="card-img-top" data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjExIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDIxMSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjYwMmMgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjYwMmMiPjxyZWN0IHdpZHRoPSIyMTEiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzcuOTIxODc1IiB5PSI5NC44Ij4yMTF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+"/>
                        <div class="card-block">
                            <h4 class="card-title">
                                Card title
                            </h4>
                            <p class="card-text">
                                This card has supporting text below as a natural lead-in to additional content.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated 3 mins ago
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <img alt="100%x180" class="card-img-top" data-src="holder.js/100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjExIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDIxMSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4Mjc1MjMgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4Mjc1MjMiPjxyZWN0IHdpZHRoPSIyMTEiIGhlaWdodD0iMTgwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzcuOTIxODc1IiB5PSI5NC44Ij4yMTF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+"/>
                        <div class="card-block">
                            <h4 class="card-title">
                                Card title
                            </h4>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated 3 mins ago
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2>
                7. 面板
            </h2>
            <p class="lead">
                Need a set of equal width and height cards that aren’t attached to one another? Use card decks. By default, card decks require two wrapping elements:
                <code>
                    .card-deck-wrapper
                </code>
                and a
                <code>
                    .card-deck
                </code>
                . We use table styles for the sizing and the gutters on
                <code>
                    .card-deck
                </code>
                . The
                <code>
                    .card-deck-wrapper
                </code>
                is used to negative margin out the
                <code>
                    border-spacing
                </code>
                on the
                <code>
                    .card-deck
                </code>
                .
            </p>
            <p class="lead">
                <strong>
                    ProTip!
                </strong>
                If you enable
                <a href="/getting-started/flexbox/">
                    flexbox mode
                </a>
                , you can remove the
                <code>
                    .card-deck-wrapper
                </code>
                .
            </p>
            <div class="docs-example">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card">
                            <img alt="100%x200" class="card-img-top" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk2IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5NiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjUzMzcgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjUzMzciPjxyZWN0IHdpZHRoPSIxOTYiIGhlaWdodD0iMjAwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzIuNDI5Njg3NSIgeT0iMTA0LjUiPjE5NngyMDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Last updated 3 mins ago
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img alt="100%x200" class="card-img-top" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk3IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5NyAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjY1NDEgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjY1NDEiPjxyZWN0IHdpZHRoPSIxOTciIGhlaWdodD0iMjAwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzIuOTI5Njg3NSIgeT0iMTA0LjUiPjE5N3gyMDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    This card has supporting text below as a natural lead-in to additional content.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Last updated 3 mins ago
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <img alt="100%x200" class="card-img-top" data-src="holder.js/100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk3IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5NyAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjI2NzggdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjI2NzgiPjxyZWN0IHdpZHRoPSIxOTciIGhlaWdodD0iMjAwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzIuOTI5Njg3NSIgeT0iMTA0LjUiPjE5N3gyMDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4="/>
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Last updated 3 mins ago
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>
                8. 卡片列
            </h2>
            <p class="lead">
                Cards can be organized into
                <a href="http://masonry.desandro.com">
                    Masonry
                </a>
                -like columns with just CSS by wrapping them in
                <code>
                    .card-columns
                </code>
                .
            </p>
            <p class="lead">
                <strong>
                    Heads up!
                </strong>
                This is
                <strong>
                    not available in IE9 and below
                </strong>
                as they have no support for the
                <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multi-column_layouts">
                    <code>
                        column-*
                    </code>
                    CSS properties
                </a>
                .
            </p>
            <div class="docs-example">
                <div class="card-columns">
                    <div class="card">
                        <img alt="100%x160" class="card-img-top" data-src="holder.js/100%x160" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk3IiBoZWlnaHQ9IjE2MCIgdmlld0JveD0iMCAwIDE5NyAxNjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTYwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjBkYTAgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjBkYTAiPjxyZWN0IHdpZHRoPSIxOTciIGhlaWdodD0iMTYwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzIuOTI5Njg3NSIgeT0iODQuNSI+MTk3eDE2MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="/>
                        <div class="card-block">
                            <h4 class="card-title">
                                Card title that wraps to a new line
                            </h4>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                    <div class="card card-block">
                        <blockquote class="card-blockquote">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            </p>
                            <footer>
                                Someone famous in
                                <cite title="Source Title">
                                    Source Title
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img alt="100%x160" class="card-img-top" data-src="holder.js/100%x160" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk3IiBoZWlnaHQ9IjE2MCIgdmlld0JveD0iMCAwIDE5NyAxNjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTYwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4MjY1MmMgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4MjY1MmMiPjxyZWN0IHdpZHRoPSIxOTciIGhlaWdodD0iMTYwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNzIuOTI5Njg3NSIgeT0iODQuNSI+MTk3eDE2MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="/>
                        <div class="card-block">
                            <h4 class="card-title">
                                Card title
                            </h4>
                            <p class="card-text">
                                This card has supporting text below as a natural lead-in to additional content.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Last updated 3 mins ago
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="card card-block card-inverse card-primary text-center">
                        <blockquote class="card-blockquote">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                            </p>
                            <footer>
                                Someone famous in
                                <cite title="Source Title">
                                    Source Title
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card card-block text-center">
                        <h4 class="card-title">
                            Card title
                        </h4>
                        <p class="card-text">
                            This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Last updated 3 mins ago
                            </small>
                        </p>
                    </div>
                    <div class="card">
                        <img alt="100%x260" class="card-img" data-src="holder.js/100%x260" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTk3IiBoZWlnaHQ9IjI2MCIgdmlld0JveD0iMCAwIDE5NyAyNjAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjYwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU2OGQ4Mjc0MTYgdGV4dCB7IGZpbGw6cmdiYSgyNTUsMjU1LDI1NSwuNzUpO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTpIZWx2ZXRpY2EsIG1vbm9zcGFjZTtmb250LXNpemU6MTNwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU2OGQ4Mjc0MTYiPjxyZWN0IHdpZHRoPSIxOTciIGhlaWdodD0iMjYwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iNjUuMjU3ODEyNSIgeT0iMTM2Ij4xOTd4MjYwPC90ZXh0PjwvZz48L2c+PC9zdmc+"/>
                    </div>
                    <div class="card card-block text-right">
                        <blockquote class="card-blockquote">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            </p>
                            <footer>
                                Someone famous in
                                <cite title="Source Title">
                                    Source Title
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">
                            Card title
                        </h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                Last updated 3 mins ago
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%include _parts/foot%>
</div>