<%include ./_parts/head%>
<%include ./_parts/header%>

<!--
==================================================
		            Content
==================================================
-->

<div class="container">
	<div class="row">
		<div class="col-md-9 col-md-pull-3">
		</div>
		<div class="col-md-3">
			<%include _parts/nav%>
		</div>
	</div>
</div>

<%include _parts/foot%>