<%include ./_parts/head%>
<%include ./_parts/header%>

<!--
==================================================
		            Content
==================================================
-->

<div class="container">
	<div class="row">
		<div class="col-md-9">
            <h1 class="page-head">九、标签</h1>
            <h2>1. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <h1>标题<span class="tag tag-default">新</span></h1>
                <h2>标题<span class="tag tag-default">新</span></h2>
                <h3>标题<span class="tag tag-default">新</span></h3>
                <h4>标题<span class="tag tag-default">新</span></h4>
                <h5>标题<span class="tag tag-default">新</span></h5>
                <h6>标题<span class="tag tag-default">新</span></h6>
            </div>
            <h2>2. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <span class="tag tag-pill tag-default">默认</span>
                <span class="tag tag-pill tag-primary">原生</span>
                <span class="tag tag-pill tag-success">成功</span>
                <span class="tag tag-pill tag-info">消息</span>
                <span class="tag tag-pill tag-warning">失败</span>
                <span class="tag tag-pill tag-danger">警告</span>
            </div>
		</div>
		<div class="col-md-3">
			<%include _parts/nav%>
		</div>
	</div>
</div>

<%include _parts/foot%>
