<%include ./_parts/head%>
<%include ./_parts/header%>

<!--
==================================================
		            Content
==================================================
-->

<div class="container">
	<div class="row">
		<div class="col-md-9">
            <h1 class="page-head">九、标签</h1>
            <h2>1. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">默认选中</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="#" class="nav-link">禁用链接</a>
                    </li>
                </ul>
            </div>
            <h2>2. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">默认选中</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="#" class="nav-link">禁用链接</a>
                    </li>
                </ul>
            </div>
            <h2>3. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">默认选中</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="#" class="nav-link">禁用链接</a>
                    </li>
                </ul>
            </div>
            <h2>4. 基本实例</h2>
            <p class="lead"></p>
            <div class="docs-example">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">默认选中</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">下拉链接</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item disabled">
                        <a href="#" class="nav-link">禁用链接</a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">默认选中</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">链接</a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="#" class="nav-link">禁用链接</a>
                    </li>
                </ul>
            </div>
		</div>
		<div class="col-md-3">
			<%include _parts/nav%>
		</div>
	</div>
</div>

<%include _parts/foot%>