<%include ./_parts/head%>
<%include ./_parts/header%>

<!--
==================================================
		            Content
==================================================
-->

<div class="container">
	<div class="row">
		<div class="col-md-9">
            <h1 class="page-head">三、提示</h1>
            <h2>1. 基本实例</h2>
            <p class="lead">
            </p>
            <div class="docs-example">
                <div class="tooltip left" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        左边
                    </div>
                </div>
                <div class="tooltip top" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        顶部
                    </div>
                </div>
                <div class="tooltip bottom" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        底部
                    </div>
                </div>
                <div class="tooltip right" role="tooltip">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        右边
                    </div>
                </div>
            </div>
            <h2>2. 基本实例</h2>
            <p class="lead">
            </p>
            <div class="docs-example">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">左边</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">顶部</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">底部</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">右边</button>
            </div>
		</div>
		<div class="col-md-3">
			<%include _parts/nav%>
		</div>
	</div>
</div>

<%include _parts/foot%>