/*!
 * docs scss
 */

body {
    background: #f4f4f4;
}
.carousel {
	position: relative;
	width: 100%;
	min-height: 200px;
	overflow: hidden;
	.carousel-box {
		.carousel-content {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			> li {
				margin: 0;
				padding: 0;
				border: 0;
				float: left;
				position: relative;
			}
		}
		.carousel-prev, .carousel-next {
			position: absolute;
			top: 50%;
			margin-top: -35px;
			z-index: 2;
			width: 35px;
			height: 70px;
			font: 700 53px arial;
			cursor: pointer;
			text-align: center;
			color: #f1f1f1;
			text-decoration: none;
			background-color:: rgba(0, 0, 0, .4);
		}
		.carousel-prev {
			left: 5px;
		}
		.carousel-next {
			right: 5px;
		}
		.nav-box {
			position: absolute;
			left: 50%;
			bottom: 12px;
			z-index: 30;
			> ul {
				height: 20px;
				padding: 0 4px;
				border-radius: 8px;
				background: rgba(0,0,0,0.5);
				> li {
					float: left;
					height: 12px;
					margin: 4px 4px;
					&.active {
						> em {
							background: red;
						}
					}
					> em {
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 100%;
						background-color: #fff;
						text-indent: -9999px;
						cursor: pointer;

					}
				}
			}
		}
	}
}

.navbar {
	.navbar-transparent {
	}
}

.section-header {
	width: 100%;
	background: transparent url("http://huaban.com/img/login_header_blurbg.jpg") 0 0 no-repeat;
	background-size: cover;
	overflow: hidden;
	display: block;
	color: #fff;
	padding: 30px 0;
}
.container {
	.page-head {
		padding-bottom: 9px;
	    margin: 40px 0 20px;
	    border-bottom: 1px solid #eee;
	}
	.highlight {
	    padding: 9px 14px;
	    margin-bottom: 14px;
	    background-color: #f7f7f9;
	    border: 1px solid #e1e1e8;
	    border-radius: 4px;
	}
	.docs-blockquote {
		margin: 15px 0;
		background-color: #fff;
		border-color: #ce4844;
		h4 {
			color: #ce4844;
		}
	}
	.docs-example {
		position: relative;
	    background-color: #fff;
	    padding: 30px 15px 15px 15px;
	    border-color: #e5e5e5 #eee #eee;
	    border-style: solid;
	    border-width: 1px 0;
	    &:after {
    	    position: absolute;
		    top: 10px;
		    left: 10px;
		    font-size: 12px;
		    font-weight: 700;
		    color: #959595;
		    text-transform: uppercase;
		    letter-spacing: 1px;
	        content: "实例：" !important;
	    }
	    .btn, .btn-group {
	    	margin: 5px auto;
	    }
	    .card {
	    	max-width: 320px;
	    }
	}
}
.footer {
	margin: 30px auto;
	padding: 30px 30px 20px 30px;
	font-size: 13px;
	color: #999;
	background-color: #fff;
	a {
		font-weight: 500;
		color: #55595c;
	}
	p {
		margin-bottom: 0;
	}
	ul {
		padding-left: 0;
		> li {
			display: inline-block;
			& + li {
				margin-left: 1rem;
			}
		}
	}
}