// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

.clear {
    font-size: 0;
    width: 0;
    height: 0;
    clear: both;
}
